.wrapper {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.194);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10.1px);
	border: 1px solid rgba(43, 43, 43, 0.568);
	position: absolute;
	overflow: hidden;

	.homeContainer {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		filter: brightness(60%) blur(5px);
	}

	.homeContent {
		width: 100vw;
		height: 100vh;
		background: inherit;
		box-shadow: inset 0 0 0 3000px rgba(61, 61, 61, 0.192);

		.searchInput {
			position: absolute;
			right: 200px;
			top: 18px;
		}

		.user {
			font-size: 18px;
			position: absolute;
			right: 30px;
			top: 13px;
		}
		.homeContentWrapper {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: end;
			min-height: 87vh;
			margin-left: 70px;
			gap: 50px;

			.trendingWrapper {
				display: flex;
				justify-content: space-between;
				font-size: 19px;
				font-weight: 500;
				width: 850px;
				margin-bottom: -20px;
			}

			.artistsWrapper {
				margin-bottom: -20px;
				display: flex;
				justify-content: space-between;
				font-size: 19px;
				font-weight: 500;
				width: 850px;
			}
		}
		.nowPlayingWrapper {
			position: absolute;
			right: 0;
			top: 0;
			margin-top: 100px;
			margin-right: 31px;
		}
	}
	.playerWrapper {
		z-index: 100;
		position: absolute;
		bottom: 0;
		width: 100vw;
	}
}
