.wrapper {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.194);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10.1px);
	border: 1px solid rgba(43, 43, 43, 0.568);
	position: absolute;
	overflow: hidden;

	.homeContainer {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		filter: brightness(40%);
	}

	.homeContent {
		overflow-y: scroll;
		width: 100%;
		height: 100%;
		background: inherit;
		box-shadow: inset 0 0 0 3000px rgba(61, 61, 61, 0.192);

		.user {
			font-size: 18px;
			position: absolute;
			right: 30px;
			top: 13px;
			cursor: pointer;
		}
		.homeContentWrapper {
			margin-top: 100px;
			display: flex;
			flex-direction: row;
			margin-left: 300px;
			margin-right: 50px;
			.trendingWrapper {
				margin-bottom: 30px;
				display: flex;
				justify-content: space-between;
				font-size: 19px;
				font-weight: 500;
				width: 860px;
				a:hover {
					transition: color 0.3s ease 0s;
					color: #cdcdcdfe;
				}
			}

			.artistsWrapper {
				margin-top: 50px;
				margin-bottom: 30px;
				display: flex;
				justify-content: space-between;
				font-size: 19px;
				font-weight: 500;
				width: 855px;
				a:hover {
					transition: color 0.3s ease 0s;
					color: #cdcdcdfe;
				}
			}
		}
		.nowPlayingWrapper {
			margin-left: 60px;
			// position: absolute;
			// right: 0;
			// top: 0;
			// margin-top: 100px;
			// margin-right: 31px;
		}
	}
	.playerWrapper {
		z-index: 100;
		position: absolute;
		bottom: 0;
		width: 100vw;
	}
}
