.wrapper {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.194);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10.1px);
	border: 1px solid rgba(43, 43, 43, 0.568);
	position: absolute;
	overflow: hidden;

	.homeContainer {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		filter: brightness(40%);
	}
	.homeContent {
		width: 100vw;
		height: 100vh;
		background: inherit;
		box-shadow: inset 0 0 0 3000px rgba(61, 61, 61, 0.192);
		overflow-y: scroll;
		.searchInput {
			position: absolute;
			right: 200px;
			top: 18px;
			z-index: 3;
		}

		.user {
			font-size: 18px;
			position: absolute;
			right: 30px;
			top: 13px;
			z-index: 3;
			cursor: pointer;
		}

		.trendingWrapper {
			display: flex;
			flex-direction: column;
			gap: 50px;
			padding: 50px 50px 100px 70px;
		}
	}
}
