.wrapper {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.194);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10.1px);
	border: 1px solid rgba(43, 43, 43, 0.568);
	position: absolute;
	overflow: hidden;

	.homeContainer {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		filter: brightness(20%);
	}
	.homeContent {
		width: 100vw;
		height: 100vh;
		background: inherit;
		box-shadow: inset 0 0 0 3000px rgba(61, 61, 61, 0.042);
		overflow-y: scroll;

		.user {
			cursor: pointer;
			z-index: 100;
			font-size: 18px;
			position: absolute;
			right: 30px;
			top: 13px;
		}

		.artistsWrapper {
			margin-left: 230px;
			margin-top: 50px;
			padding: 50px 20px 100px 70px;

			.artistInfo {
				display: flex;
				gap: 20px;
				.artistImage {
					border-radius: 50%;
					width: 220px;
					height: 220px;
					object-fit: cover;
				}
				.artistName {
					margin-top: 65px;
					font-size: 25px;
					font-weight: 700;
					.artistStats {
						display: flex;
						flex-direction: column;
						margin-top: 5px;
						font-weight: 300;
						font-size: 17px;
						opacity: 0.7;
					}
				}
				.artistLeftSide {
					margin-top: 70px;
					margin-left: -240px;
					width: 550px;
				}
				.artistRightSide {
					margin-left: -20px;
					.artistBio {
						font-size: 15px;
						text-align: justify;
						border-radius: 5px;
						margin-left: 100px;
						padding: 5px 15px;
						width: 500px;
						color: white;
						background: rgba(255, 255, 255, 0.069);
						box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
						backdrop-filter: blur(10.1px);
						display: flex;
						flex-direction: column;
						a {
							cursor: auto;
						}
						button {
							border-radius: 5px;
							background: rgba(255, 255, 255, 0.069);
							box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
							backdrop-filter: blur(10.1px);
							border: none;
							cursor: pointer;
							margin: 5px 0;
							font-size: 12px;
							padding: 4px 0;
							&:hover {
								background: rgba(255, 255, 255, 0);
							}
						}
					}
				}
			}
		}
	}
}
