.avatarImage {
	border: 1px solid gray;
	width: 50px;
	border-radius: 50%;
	cursor: pointer;
}
.menu {
	display: flex;
	flex-direction: column;
	gap: 5px;
	position: absolute;
	padding: 20px;
	right: 2px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.21);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10.1px);
	div {
		cursor: pointer;
		&:hover {
			transition: color 0.1s ease 0s;
			color: rgb(193, 193, 193);
		}
	}
}
